.btn-info {
    // padding: 25px;
    padding: 25px 50px 25px 50px;
    border: 4px solid white;
    font-family: "Ruslan Display";
    color: white;
    background-color: black;
    z-index: 999;
    position: relative;
    font-size: 25px;
}