.menu-holder {
    text-align: left !important;


    p {
        color: white;
        font-family: "Ruslan Display";
        padding-left: 35px;

    }

    h3 {
        color: white;
        font-family: "Ruslan Display";
        padding-left: 15px;
    }
}