@import "../../00-atoms/images/preset-img";
@import "../../00-atoms/text/preset-text";

.preset-container {
    margin-top: 70px;
    border: 5px white solid;
    border-radius: 100px;
    height: 450px;
}

// .preset-front {
//     margin-top: 30px;
// }