.menu-menu {
    height: 600px;
    width: 450px;
    display: inline-block;
    background-color: black;
    border-radius: 50px;
}



@media (min-width: 1300px) {
    .menu-menu {
        height: 650px;
        width: 800px;
        display: inline-block;
    }
}